#!/bin/bash
# Copie este arquivo para secrets.env e personalize antes da instalação.

# Credenciais
export GRAFANA_ADMIN_USER="admin"
export GRAFANA_ADMIN_PASSWORD="CHANGE_ME_GRAFANA"

export RANCHER_ADMIN_PASSWORD="CHANGE_ME_RANCHER"

# Planeje definir assim que o Argo CD for provisionado
export ARGOCD_ADMIN_USERNAME="admin"
export ARGOCD_ADMIN_PASSWORD="CHANGE_ME_ARGOCD"

# Outras senhas ou tokens podem ser adicionados aqui conforme necessário.
