#!/bin/bash
# Copie este arquivo para secrets.env e personalize antes da instalação.

# Credenciais
export GRAFANA_ADMIN_USER="admin"
export GRAFANA_ADMIN_PASSWORD="TroqueEstaSenha"

# Outras senhas ou tokens podem ser adicionados aqui conforme necessário.
